* {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border: 1px solid #545454;
    border-collapse: collapse;
}

table th {
    background-color: #00b899;
}

th,
td {
    border: 1px solid #545454;
    text-align: center;
    padding: 5px 10px;
}